In [1]:
import pandas as pd
import datetime

In [2]:
data = pd.read_excel(r"/Users/edgartome_1/IronHack/IronProjects/Project6/Final_clean/Payments.xlsx")
pj = pd.DataFrame(data)

In [3]:
pj.head()

,Debtor,Creditor,Type,Reference,Initial Amount,Currency,Bank,Charges,Date,Time (local),Status
0,Alpha Inc,ACME INVEST.,fin.101,REF211,10000.0,USD,CHASUS3AXXX,0.020,16-mars-21,08:15:00,NEW
1,Alpha Inc,ACME INVEST.,fin.101,REF211,10000.0,USD,BINAADADXXX,0.015,2021-03-17 00:00:00,15:45:00,COMPLETED
2,Alpha Inc,ACME ONE CORP.,fin.101,REFTEST01,4537.0,USD,CHASUS3AXXX,0.020,16-mars-21,2013-10-01 00:00:00,NEW
3,Alpha Inc,ACME ONE CORP.,fin.101,REFTEST01,4537.0,USD,BINAADADXXX,0.010,16-mars-21,12:45:00,PENDING
4,Alpha Inc,ACME ONE CORP.,fin.101,REFTEST01,4537.0,USD,BSJUARBJXXX,0.020,2021-03-18 00:00:00,14:15:00,COMPLETED

In [4]:
pj['Date']
valuespdd = pj['Date'].unique()

In [5]:


##############################
        
pjdate = pj['Date'].unique()
list(pjdate)
dicdates = {'jan':1,'feb':2,'mar':3,'apr':4,'may':5,'jun':6,'jul':7,'aug':8,'sep':9,'oct':10,'nov':11,'dec':12}

for y in pj['Date'].tolist():
    if type(y) == str:
        val = [x.lower() for x in y]
        day = val[:2]
        day1 = val[0] + val[1]
        year = val[-2:]
        year1 = year[0] + year[1]
        month = val[3:6]
        month1 = month[0] + month[1] + month[2]
        correctdate = datetime.datetime(2000 + int(year1), dicdates[month1] , int(day1), 0, 0)
        print(y)
        print(correctdate)
        pj["Date"].replace({y: correctdate}, inplace=True)
    else:
        continue

16-mars-21
2021-03-16 00:00:00
16-mars-21
2021-03-16 00:00:00
16-mars-21
2021-03-16 00:00:00
02-nov-21
2021-11-02 00:00:00
16-mars-21
2021-03-16 00:00:00
16-mars-21
2021-03-16 00:00:00
16-mars-21
2021-03-16 00:00:00
16-mars-21
2021-03-16 00:00:00
21-Feb-2021
2021-02-21 00:00:00
21-Feb-2021
2021-02-21 00:00:00
21-Feb-2021
2021-02-21 00:00:00
26-Feb-2021
2021-02-26 00:00:00
26-Feb-2021
2021-02-26 00:00:00
26-Feb-2021
2021-02-26 00:00:00
10-janv-22
2022-01-10 00:00:00
07-Feb-2021
2021-02-07 00:00:00
08-Feb-2021
2021-02-08 00:00:00
02-mars-21
2021-03-02 00:00:00
02-mars-21
2021-03-02 00:00:00
15-janv-21
2021-01-15 00:00:00
15-janv-21
2021-01-15 00:00:00
13-janv-21
2021-01-13 00:00:00
13-janv-21
2021-01-13 00:00:00
14-janv-21
2021-01-14 00:00:00
14-janv-21
2021-01-14 00:00:00
05-janv-21
2021-01-05 00:00:00
05-janv-21
2021-01-05 00:00:00
05-janv-21
2021-01-05 00:00:00
28-janv-21
2021-01-28 00:00:00
28-janv-21
2021-01-28 00:00:00
13-janv-21
2021-01-13 00:00:00
13-janv-21
2021-01-13 00:00:00
22-mars-21
2021-03-22 00:00:00
22-mars-21
2021-03-22 00:00:00
20-nov-20
2020-11-20 00:00:00
20-nov-20
2020-11-20 00:00:00
20-nov-20
2020-11-20 00:00:00
21-nov-20
2020-11-21 00:00:00
21-nov-20
2020-11-21 00:00:00
27-nov-20
2020-11-27 00:00:00
27-nov-20
2020-11-27 00:00:00
01-mars-21
2021-03-01 00:00:00
01-mars-21
2021-03-01 00:00:00
01-mars-21
2021-03-01 00:00:00
01-mars-21
2021-03-01 00:00:00
15-janv-21
2021-01-15 00:00:00
15-janv-21
2021-01-15 00:00:00
21-janv-21
2021-01-21 00:00:00
02-mars-21
2021-03-02 00:00:00
23-mars-21
2021-03-23 00:00:00
23-mars-21
2021-03-23 00:00:00

In [6]:
#Remove dot from Creditor column and not space
pj['Creditor'] = pj['Creditor'].str.replace(r'[^0-9a-zA-Z:, \n]+', ' ', regex=True)

In [7]:
#Convert the float in to interger
pj['Initial Amount'] = pj['Initial Amount'].astype('int64')

In [8]:
#Remove time from column with date
pj.at[2,'Time (local)']='00:00:00'
pj.at[71,'Time (local)'] = '00:00:00'

In [9]:
pj['Date'].tolist()
pj['Date']

0    2021-03-16
1    2021-03-17
2    2021-03-16
3    2021-03-16
4    2021-03-18
        ...
85   2021-07-12
86   2021-07-13
87   2021-10-05
88   2021-10-05
89   2021-10-07
Name: Date, Length: 90, dtype: datetime64[ns]

In [10]:
# create unique column of ref + amount
#New ietration because whit this unique code I am spleting the same transations but with diferente steps passing in two ou moore banks
pj.columns

pj['str amount'] = pj["Initial Amount"].apply(str)

pj['uniqueref'] = pj['Creditor'] + pj['Reference'] + pj['str amount']

#pj['Rf_Am'] = [' '.join([j, x, str(y), z, i]) for j, x, y , z , i in zip(pj['Creditor'], pj['Reference'], pj['Initial Amount'], pj['Currency'], pj['Bank'])]

In [11]:
pj = pj.drop(columns=["str amount"])

In [12]:
# further formatting

# collect country code from bank account and add column with country names

countries = []
for row in pj['Bank']:
        if row == 'CHASUS3AXXX': countries.append('USA')
        elif row == 'BINAADADXXX': countries.append('Andorra')
        elif row == 'BSJUARBJXXX': countries.append('Argentina')
        elif row == 'REDJBY22XXX': countries.append('Belarus')
        elif row == 'AGRIFRPPXXX': countries.append('France')
        elif row == 'TSIBAU44XXX': countries.append('Australia')
        elif row == 'FNROCNBQXXX': countries.append('China')
        elif row == 'FINVALTRXXX': countries.append('Albania')
pj['Country']=countries

In [13]:
#Convert the date type in to object
pj['Date'] = pj['Date'].astype('object')

In [14]:
pj

,Debtor,Creditor,Type,Reference,Initial Amount,Currency,Bank,Charges,Date,Time (local),Status,uniqueref,Country
0,Alpha Inc,ACME INVEST,fin.101,REF211,10000,USD,CHASUS3AXXX,0.020,2021-03-16 00:00:00,08:15:00,NEW,ACME INVEST REF21110000,USA
1,Alpha Inc,ACME INVEST,fin.101,REF211,10000,USD,BINAADADXXX,0.015,2021-03-17 00:00:00,15:45:00,COMPLETED,ACME INVEST REF21110000,Andorra
2,Alpha Inc,ACME ONE CORP,fin.101,REFTEST01,4537,USD,CHASUS3AXXX,0.020,2021-03-16 00:00:00,00:00:00,NEW,ACME ONE CORP REFTEST014537,USA
3,Alpha Inc,ACME ONE CORP,fin.101,REFTEST01,4537,USD,BINAADADXXX,0.010,2021-03-16 00:00:00,12:45:00,PENDING,ACME ONE CORP REFTEST014537,Andorra
4,Alpha Inc,ACME ONE CORP,fin.101,REFTEST01,4537,USD,BSJUARBJXXX,0.020,2021-03-18 00:00:00,14:15:00,COMPLETED,ACME ONE CORP REFTEST014537,Argentina
...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,Alpha Inc,ALT 2 INC,fin.101,REFD202103,17430,USD,CHASUS3AXXX,0.020,2021-07-12 00:00:00,15:41:00,PENDING,ALT 2 INC REFD20210317430,USA
86,Alpha Inc,ALT 2 INC,fin.101,REFD202103,17430,USD,CHASUS3AXXX,0.010,2021-07-13 00:00:00,18:10:00,DELIVERED,ALT 2 INC REFD20210317430,USA
87,Alpha Inc,Beta Corp,fin.101,REF001,12000,USD,CHASUS3AXXX,0.010,2021-10-05 00:00:00,12:43:00,NEW,Beta CorpREF00112000,USA
88,Alpha Inc,Beta Corp,fin.101,REF001,12000,USD,CHASUS3AXXX,0.020,2021-10-05 00:00:00,14:32:00,PENDING,Beta CorpREF00112000,USA
89,Alpha Inc,Beta Corp,fin.101,REF001,12000,EUR,BINAADADXXX,0.010,2021-10-07 00:00:00,18:21:00,PENDING,Beta CorpREF00112000,Andorra

In [15]:
# upload csv
pj.to_csv(r'/Users/edgartome_1/IronHack/IronProjects/Project6/Final_clean/preped_data2.csv',index = False)

In [16]:
pj.dtypes

Debtor             object
Creditor           object
Type               object
Reference          object
Initial Amount      int64
Currency           object
Bank               object
Charges           float64
Date               object
Time (local)       object
Status             object
uniqueref          object
Country            object
dtype: object

In [17]:
pj.head()

,Debtor,Creditor,Type,Reference,Initial Amount,Currency,Bank,Charges,Date,Time (local),Status,uniqueref,Country
0,Alpha Inc,ACME INVEST,fin.101,REF211,10000,USD,CHASUS3AXXX,0.020,2021-03-16 00:00:00,08:15:00,NEW,ACME INVEST REF21110000,USA
1,Alpha Inc,ACME INVEST,fin.101,REF211,10000,USD,BINAADADXXX,0.015,2021-03-17 00:00:00,15:45:00,COMPLETED,ACME INVEST REF21110000,Andorra
2,Alpha Inc,ACME ONE CORP,fin.101,REFTEST01,4537,USD,CHASUS3AXXX,0.020,2021-03-16 00:00:00,00:00:00,NEW,ACME ONE CORP REFTEST014537,USA
3,Alpha Inc,ACME ONE CORP,fin.101,REFTEST01,4537,USD,BINAADADXXX,0.010,2021-03-16 00:00:00,12:45:00,PENDING,ACME ONE CORP REFTEST014537,Andorra
4,Alpha Inc,ACME ONE CORP,fin.101,REFTEST01,4537,USD,BSJUARBJXXX,0.020,2021-03-18 00:00:00,14:15:00,COMPLETED,ACME ONE CORP REFTEST014537,Argentina